@media only screen and (max-width: 900px){
    .shop-items {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .nav-bar {
        position: fixed;
        width: 100%;
        margin-top: -100px;
        height: 70px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        width: 100%;
        background-color: orange;
        padding: 25px;
        top: 100%;
        left: 0px;
        
       
    }
    .nav-links a {
        color: white;
        font-sze: 23px;
        margin-left: 40%;
        font-weight: bolder;
    }
    .toggle-Button {
        display: flex;
        float: right;
        
    }
    .nav-links li {
        padding: 12px 0px;
    }
    .nav-links.active {
        display: block;
    }

    .main {
        width: 100%;
        height: max-content;
        display: block;
        flex-direction: row;
        justify-content: space-between;
    }

    .card {
        border-radius: 5px;
        margin-top: 20px;
        width: 90%;
        margin-left: 40px;
        background-color: orange;
        height: max-content;
     }

     .shop-items {
        width: 100%;
        display: block;
        flex-wrap: wrap;
        padding: 20px;
        height: max-content;
    }

    .shop-item {
        width: auto;
        display: block;
        flex-wrap: wrap;
        padding: 20px;
        height: max-content;
    }
    
}
