@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
         url("Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: Raleway;
    color: orange;
}


.main {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
 .card {
    border-radius: 5px;
    margin-top: 20px;
    width: 30%;
    margin-left: 0px;
    background-color: orange;
    height: max-content;
 }



.shopping {
    margin-left: 95%;
}
.band-name {
    text-align: center;
    margin: 0;
    font-size: 1.2em;
    font-family: "Booter - Zero Zero";
    font-weight: normal;
    color: white;
}

.band-name-large {
    font-size: 2em;
}



.section-header {
    font-family: "Metal Mania";
    font-weight: normal;
    color: rgb(209, 12, 45);
    text-align: center;
    font-size: 1.5em;
    letter-spacing: 1px;
    font-weight: bolder;
    margin-top: 100px;
}

.about-band-image {
    float: left;
    height: 200px;
    width: 200px;
    margin: 15px;
    border-radius: 50%;
}

.main-footer {
    background-color: orange;
    color: white;
    padding: .25em 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    width: 30px;
    height: 30px;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid #2D9CDB;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
}

.btn-play {
    display: block;
    margin: 0 auto;
    color: #2D9CDB;
    font-size: 4em;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
}

.btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #2D9CDB;
}

.tour-row {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.tour-row:last-child {
    border: none;
}

.tour-item {
    display: inline-block;
    padding-right: .5em;
}

.tour-date {
    color: #555;
    width: 11%;
    font-weight: bold;
}

.tour-city {
    width: 24%;
}

.tour-arena {
    width: 42%;
}

.tour-btn {
    max-width: 19%;
}

.shop-item {
    display: block;
    margin: 30px;
    padding: 10px;
    border: 2px solid orange;
    border-radius: 5px;
    height: 300px;
    width: 250px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image {
    margin-left: 10px;
    height: 150px;
    width: 150px;
}

.shop-item-details {
    display: block;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
    font-weight: bolder;
    margin-left: 50px;
    font-size: larger;
}

.shop-items {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    height: max-content;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}


.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

#cola {
    color: white;
    font-size: medium;
    padding-right: 40px;
    
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}
.cat {
    align-items: center;
    width: 50px;
    height: 23px;
    border-radius: 0%;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1em;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
    padding: 20px 50px;
    position: relative;
}
.toggle-Button {

    display: none;
    flex-direction: column;
    cursor: pointer;

}
.toggle-Button .bar {
    width: 35px;
    height: 4px;
    border-radius: 5px;
    background-color: #fff;
    margin: 3px 0px;

}
 .nav-links {
    list-style: none;
    display: flex;
    
 }
 .nav-links li {
    margin-right: 25px;

 }
 .nav-links li a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    transition: 0.3s ease;
 }
 .nav-links li a:hover {
    color: aqua;
 }



@media only screen and (max-width: 980px) {
    .shop-items {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .nav-bar {
        position: fixed;
        width: 100%;
        margin-top: -100px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        width: 100%;
        background-color: orange;
        padding: 25px;
        top: 100%;
        left: 0px;
       
    }
    .nav-links a {
        color: white;
        font-size: x-large;
        margin-left: 40%;
        font-weight: bolder;
    }
    .toggle-Button {
        display: flex;
        float: right;
        
    }
    .nav-links li {
        padding: 12px 0px;
    }
    .nav-links.active {
        display: block;
    }

    .main {
        width: 100%;
        height: max-content;
        display: block;
        flex-direction: row;
        justify-content: space-between;
    }

    .card {
        border-radius: 5px;
        margin-top: 20px;
        width: 90%;
        margin-left: 40px;
        background-color: orange;
        height: max-content;
     }

     .shop-items {
        width: 100%;
        display: block;
        flex-wrap: wrap;
        padding: 20px;
        height: max-content;
    }

    .shop-item {
        width: auto;
        display: block;
        flex-wrap: wrap;
        padding: 20px;
        height: max-content;
    }
    
}






